@model Tarea2_acceso_premier.Models.Acceso_Premier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Acceso_Premier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pelicula.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Persona.Idpersona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Persona.Idpersona)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Idapremier }) |
    @Html.ActionLink("Back to List", "Index")
</p>
