@model IEnumerable<Tarea2_acceso_premier.Models.Acceso_Premier>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Idpersona)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pelicula.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Persona.Idpersona)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Idapremier }) |
            @Html.ActionLink("Details", "Details", new { id=item.Idapremier }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Idapremier })
        </td>
    </tr>
}

</table>
